*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    width: 100%;
    padding-top: 42px;
    margin: auto;
    background-color: #F2F2F2;
}
.header-ul{
    list-style-type: none;
    display: flex;
    gap: 48px;
}
a{
    text-decoration: none;
    color: #000000E5;
    opacity: 90%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
nav button{
    background-color: #29B24E;
    padding: 13px 26px;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
}
.main{
    width: 90%;
    margin: auto;
    margin-top: 41px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
}
.mainimg img{
    width: 100%;
    
}
.list input{
    border: 1px solid #0D9CA436 ;
    width: 100%;
    background-color: #F2F2F2;
    padding: 13px 249px 14px 18px;
    color: #000000;
}
.cards{
    width: 90%;
    padding-top: 20px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    gap: 20px;
    grid-auto-rows: auto;
    margin: auto;
    justify-content: space-between;
    
    
}
.cards div{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #F8F8F8;
    border-radius: 24px;
}
.img img{
    margin: 16px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.img .vip{
    position: absolute;
    top: 12px;
    left: 23px;
    width: 20%;
    padding: 6px 11px 6px 11px;
    background-color: #29B24E;
    border-radius: 15px;
}
.img h3{
    width: 90%;
    margin:16px auto;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}
.img h2{
    
    width: 90%;
    margin:8px auto;
    display: flex;
    align-items: end;
    justify-content:flex-end;
    gap: 18px;
    
}
h2 :nth-child(1){
    color: #29B24E;
    font-size: 24px;
    font-weight: 400;
}
h2 :nth-child(2){
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.img h4{
    width: 90%;
    margin: 15px auto;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.note{
    position: absolute;
    top: 198px;
    right: 20px;
}
.description{
    width: 90%;
    margin:41px auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;

}

footer{
    width: 100%;
    margin: 120px auto;
    height: 179px;
    background-color: #29B24E;
    border-radius: 25px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content:space-between;
    padding-top: 32px;
}
.footer a{
    color: #FFFFFF;
}
.footer div{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

