*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
header{
    font-family: Poppins-Regular;
    font-weight: 400;
}
body{
    max-width: 1920px;
    width: 100%;
    padding-top: 42px;
    margin: auto;
    background-color: #F2F2F2;
}
.header-ul{
    list-style-type: none;
    display: flex;
    gap: 48px;
}
a{
    text-decoration: none;
    color: #000000E5;
    opacity: 90%;
}
a h3{
    font-family: 'poppins-Medium';
    font-weight: 500;
}
a h4{
    font-family: 'poppins-Medium' ;
    font-weight: 400;
}
 li:hover{
    background-color: #29B24E;
}
#home{ 
    padding-bottom: 9px;
    border-bottom: 4px solid #29B24E;

}
#search{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
nav button{
    background-color: #29B24E;
    padding: 13px 26px;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
}
.main{
    width: 90%;
    margin: auto;
    margin-top: 41px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
}
.mainimg img{
    width: 100%;
    object-fit: cover;
}
.mainimg{
    position: relative;
}
#trending-ads{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 32px;
    fon
}
.mainimg :nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    top: 60px;
    width: 100%;
    
}
.mainimg :nth-child(3){
    position: absolute;
    top: 142px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    
}
.mainimg input{
    width: 27%;
    display: block;
    margin: auto;
}
.mainimg :nth-child(4){
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 206px;
    width: 100%;
    float: right;
}
h2 , h3{
    font-weight: 500;
    font-family: 'poppins-Medium';
}
.list label{
    font-family: 'poppins-regular';
    font-weight: 600;
}
label span{
    font-weight: 400;
    
}

.location{
    display: flex;
    flex-wrap: wrap;
}
.property{
    width: 100%;
    row-gap: 10px;
    display: grid;
    margin: auto;
    margin-top: 39px;
}
.check{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.title{
    margin-bottom: 13px;
}
input[type="checkbox"]{
    
    width: 16px;
    height: 16px;
    accent-color: #29B24E;
  
    cursor: pointer;
    outline: 1px solid #29B24E;
    
}
.cityes input{
    width: 100%;
    margin: 16px auto;
    display: flex;
    flex-wrap: wrap;
    background: #F8F8F8;
    border: 1px solid rgba(13, 156, 164, 0.21);
    height: 48px;
    align-items: ;
    
    
}
.price-range{
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 39px;
    row-gap: 10px;
}
.check{
    display: flex;
    gap: 12px;
}
.cards{
    width: 90%;
    padding-top: 20px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-rows: auto;
    margin: auto;
}
.cards div{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #F8F8F8;
    border-radius: 24px;
}
.img .image{
    margin: 16px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.img{
    position: relative;
}
.hr1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 16px auto;
    border-bottom: 1px solid #CFEAD6;
}
.hr2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 32px auto;
    border-bottom: 1px solid #D0D0D0;
}
.img .vip{
    position: absolute;
    top: 34px;
    left: 39px;
    width: 20%;
    padding: 6px 11px 6px 11px;
    background-color: #29B24E;
    border-radius: 15px;
}
.img h3{
    width: 90%;
    margin:16px auto;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}
.img h2{
    
    width: 90%;
    margin:8px auto;
    display: flex;
    align-items: end;
    justify-content:flex-end;
    flex-wrap: wrap;
    gap: 18px;
    
}
h2 :nth-child(1){
    color: #29B24E;
    font-size: 24px;
    font-weight: 400;
}
h2 :nth-child(2){
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.img h4{
    width: 90%;
    margin: 15px auto;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.note1{
    position: absolute;
    top: 211.25px;
    right: 34.94px;
    width: 10%;
   
    padding: 13px 15px;
    border-radius: 50px;
}
.note{
    position: absolute;
    top: 213.5px;
    right: 37.19px;
    width: 10%;
    background-color: #FFFFFF;
    padding: 13px 15px;
    border-radius: 50px;
}
.description{
    width: 90%;
    margin:41px auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;

}
.description p{
    font-family: 'poppins-regular';
    font-weight: 400;
    color: #000000;
}
footer{
    font-family: 'poppins-Regular';
    width: 100%;
    margin:  auto;
    margin-top: 120px;
    height: 179px;
    background-color: #29B24E;
    border-radius: 25px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content:space-between;
    padding-top: 32px;
}
.footer a{
    color: #FFFFFF;
}
.footer div{
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}
.author{
    width: 95%;
    justify-content: center;
    display: flex;
    flex-wrap:wrap ;
    
    
}
.author p{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.mobile{
    display: none;
}


/* 1024px resolurion */
@media (width <= 1024px)  {
.main{
    grid-template-columns: 1fr;
}
.location{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    
}
.property{
    margin:10px auto;
}
.price-range{
    margin:10px auto;
}
.cards{
    grid-template-columns: 1fr 1fr;
}
.footer div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    
}
.footer :nth-child(4){
    display: none;
   
}
.footer :nth-child(5){
    display: none;
}
.mobile{
    display: flex;
    justify-content: space-between;
    text-align:  center;
    width: 100%;
    margin: 84px auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    vertical-align: middle;
    padding-top: 14px;
}
#sell{
    padding: 12px;
    background-color: #29B24E;
    border-radius: 12px;
    vertical-align: top;
    color: #FFFFFF;
}
}


/* 768px&less resolurion */
@media (width <= 768px){

.header-ul{
    display: none;
}
#sell{
    display: none;
}
#search{
    display: block;
    padding: 14.5px;
    background-color: #F8F8F8;
    border-radius: 50px;
}
.main{
    display: flex;
    flex-direction: column-reverse;
}
.property , .price-range{
    width: 95%;
    margin: auto;
    margin-top: 40px;
}
.cards{
    grid-template-columns: 1fr;
    width: 95%;
    margin: auto;
}
#hr2{
    display: block;
   margin: 40px auto;
}
footer{
    height: 326px;
    background-color: #29B24E;
}
#author{
    display: flex;
    margin: 40px auto;
}
.mail{
    display: none;
}
.mainimg :nth-child(2){
    font-size: 24px;
    top: 32px;
    width: 100%;
    text-align: center;
}
.mainimg :nth-child(3){
    font-size: 14px;
    width: 100%;
    text-align: center;
    top: 112px;
}
.mainimg :nth-child(4){
    display: none;
}

}



